@model dynamic

@{
    ViewBag.Title = "Gpio Test";
    Layout = "/Views/Shared/_Layout.cshtml";
}



<div class="row" ng-controller="GpioController as gpio" style="margin-top: 40px;">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <p>{{gpio.name}}</p>
        <p><button id="SwitchGpio14On" ng-click="gpio.switchGpio11On()" type="button">Switch Gpio 11 ON</button></p>
        <p><button id="SwitchGpio14Of" ng-click="gpio.switchGpio11Of()" type="button">Switch Gpio 11 OFF</button></p>
    </div>
</div>
